---
# {{ ansible_managed }}

{% for key in foreman_custom_hiera %}
	{{ key['key'] }}: {{ key['value'] }}
{% endfor %}

{% if foreman_deploy_dhcp_scenario == 'internal' and foreman_instance_dhcp_all_networks %}
dhcp::pools:
	{% for network in foreman_deploy_networks | rejectattr('name', 'equalto', foreman_instance_deploy_network) %}
 	{{ network['name'] }}:
 		network: {{ network['address'] | ansible.utils.ipaddr('network') }}
 		mask: {{ network['address'] | ansible.utils.ipaddr('netmask') }}
 		gateway: {{ network['network_gateway'] }}
		range: {{ network['range_start'] }} {{ network['range_end'] }}
	{% endfor %}
{% endif %}
